*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    background: #e80202;
    overflow: hidden ;
}

img{
    z-index: 1000;
    padding-right: 5rem;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 4em;
    z-index: 1000;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}


.heart{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #e80202;
    transform: rotate(45deg);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2) ;
}

.heart:before{
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e80202;
    border-radius: 50%;
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.1) ;
}

.heart:after{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #e80202 ;
    border-radius: 50%;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.1) ;
}

.watermark {
    opacity: 0.5;
    color: BLACK;
    position: fixed;
    top: 95%;
    left: 45%;
}

a{
    text-decoration: none;
    color: black;
}