*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    min-height: 100vh;
    background: #0c192c;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    color: antiquewhite;
}

h3{
    padding-bottom: 2rem;
    color: #203757;
}

.btn{
    z-index: 1000;
}

.hearts{
    font-size: 100px;;
    font-weight: bold;
    position: fixed;
    top: -1vh;
    left: 0;
    transform: translateY(0%);
    animation: fall 1s ease-in infinite;
}


@keyframes fall{
    to{
        transform: translateY(250vh);
    }
}

h1{  
    margin-top: 2rem;
    padding: 0 2rem 0;
    /* font-size: 5rem; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 4rem;
}

.beauti, .gorg, .wow{
    color: transparent;
    -webkit-text-stroke: 3px darkmagenta;
    position: relative;
    font-size: 3rem;
}

#beauti{
    padding: 2rem 0 2rem;
}

#gorg{
    text-align: center;
    padding: 2rem 0 2rem;
}

#wow{
    text-align: right;
    padding: 2rem 0 2rem;
}

.beauti::before{
    content: "BEAUTIFUL!!!!!!";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 8px solid darkmagenta;
    animation: slidein infinite 1.5s;
}
.gorg::before{
    content: "GORGEOUS!!!!!!";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 8px solid darkmagenta;
    animation: slidein infinite 1.5s;
    animation-direction: reverse;
}
.wow::before{
    content: "WOWWWW!!!!!!";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: darkmagenta;
    border-right: 8px solid darkmagenta;
    animation: slidein infinite 1.5s;
}

@keyframes slidein {
    to {
        width: 100%;
        filter: drop-shadow(0 0 25px darkmagenta);
    }
}

.beauti:hover::before, .gorg:hover::before, .wow:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px darkmagenta);
}

.watermark {
    opacity: 0.5;
    color: rgb(238, 203, 203);
    position: relative;
    top: 95%;
    left: 47%;
}

a{
    text-decoration: none;
    color: rgb(238, 203, 203);
}